body {
    background: #ECECEC;
}

main {
    max-width: 1500px;
    margin: 0 auto;
}

main.audit {
    max-width: 700px;
    p {
        margin-left: 0;
    }
}

.button {
    display: inline-block;
    border: 1px solid #fff;
    padding: 0.7rem;
    background: #fff;
    color: #057B85;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s ease all;
    &:hover {
        border: 1px solid #fff;
        background: transparent;
        color: #fff;
    }
}

a.skip-link, a.skip-link:visited  {
    background: #fff;
    color: #057B85;
    left: -9999px;
    padding: 0.5rem;
    position: absolute;
    top: 1rem;
    z-index: -10;
    font-weight: bold;
    display: block;
    &:focus {
        left: 1rem;
        z-index: 100;
    }
}