article.checklist-item {
    background-color: #fff;
    padding: 1rem;
    span {
        margin: 0;
        display: inline-block;
    }
}

input {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

input:focus + label.tickoff:before {
    box-shadow: 0 0px 8px #5e9ed6;
}

label.tickoff {
    position: relative;
    padding: 1em 0;
    display: block;
    span {
        padding-left: 50px;
        font-weight: bold;
    }
    &:before {
        background-color: #fff;
        border: 3px solid #ECECEC;
        border-color: #ECECEC;
        border-radius: 7px;
        content: '';
        height: 30px;
        position: absolute;
        top: calc(50% - 20px);
        transition: .5s ease background-color, .5s ease border-color;
        width: 30px;
    }
    &:hover {
        cursor: pointer;
    }
}

input[type="checkbox"]:checked+label.tickoff {
    &:before {
        
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24.22 18.75'%3E%3Cpolygon points='8.44 18.75 0 10.65 2.62 7.96 8.39 13.47 21.55 0 24.22 2.64 8.44 18.75' style='fill:%23fff'/%3E%3C/svg%3E") no-repeat;
        background-color: #057B85;
        background-position: center;
        background-size: 80%;
        border-color: #057B85;
    }
}