.audit .cta, .cta {
    background: #047b85;
    color: #fff;
    padding: 1rem;
    margin-top: 3rem;
    text-align: center;
    border-top: 10px solid #ccdfdd;
    position: relative;
    h3 {
        margin-top: 0;
    }
    p {
        width: 80%;
        margin-left: auto;
    }
}