.audit .cta, .cta {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    background: #047b85;
    color: #fff;
    padding: 1rem 1rem 1.5rem 1rem;
    margin-top: 3rem;
    text-align: center;
    border-top: 10px solid #ccdfdd;
    position: relative;
    h3 {
        margin-top: 0.5rem;
    }
    p {
        width: 80%;
        margin-left: auto;
    }
}