.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  display: none;
  opacity: 0;
    height: 100vh;
    width: 100vw;
}
.overlay.show {
    display: flex;
    justify-content: center;
    align-items: center;
  opacity: 1;
}

.popup {
    text-align: center;
  margin: calc(30vh) auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
    h2 {
        margin-top: 1rem;
    }
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    background: transparent;
    border: none;
}
.popup .close:hover {
  color: #057B85;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}